.fontStyles {
    padding: 100 ;
    font: 'Lato';
    font-size: '20px';
    font-weight: '700';
    line-height: '30px';
    letter-spacing:'0.15000000596046448px';
    text-align: 'left';
  }

  html, body {
    margin: 0;
    padding: 0;
  }
  
  .main-styles{
    margin-top: 90px;
    border: none;
  }

  .title-styles{
    font: Lato;
    font-Size: 20px;
    font-Weight: 700;
    line-Height: 30px;
  }

  @media (max-width: 767px) {
    .title-styles {
      font-size: 20px; 
    }
  }

  @media screen and (max-width:767px) {
  
    .main-styles {
        max-width:100%;
        width: 100%;
        float: left;
        border: none;
    }
    }